/* --------------------------------------------------------------
		4. SITE
			4.1 HEADER
-------------------------------------------------------------- */
header nav ul li.menu-item-has-children > a,
header nav ul li.page_item_has_children > a {
  padding-right: 15px;
}
header nav ul li.menu-item-has-children > a:after,
header nav ul li.page_item_has_children > a:after {
  position: absolute;
  top: 9px;
  right: 10px;
  font-family: 'FontAwesome';
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\f107';
}
@media only screen and (max-width: 640px) {
  header nav ul li.menu-item-has-children > a:after,
  header nav ul li.page_item_has_children > a:after {
    top: 20px;
  }
}

header nav ul li.menu-item-has-children:hover {
	background: @main;
	color: @white;

	a {
		color: @white !important;
	}
}
header {

	padding: 30px 0;

	h1.logo {
		width: 170px;
		float: left;
	}

	input {
		position: absolute;
		top: 0;
		display: none;
		z-index: 999999;

		@media @phone {
			& {

			}
		}
	}

	span.mobile-menu {
		display: none;

		@media @phone {
			& {
				display: block;
				position: absolute;
				right: 20px;
				top: 22px;
			}
		}
	}

	span.mobile-close {
		display: none;

		@media @phone {
			& {
				display: block;
				position: absolute;
				right: 20px;
				top: 10px;
			}
		}
	}

	nav {

		@media @phone {
			&.nav-open { 
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 999;
				background: #f5f5f5;
				height: 1800px;
				padding: 50px 30px 0 20px;

				ul li ul li a {
					color: @black !important;
				}
			}

			& {
				display: none;
			}
		}


		float: right;
		width: 70%;
		padding-top: 58px;

		ul li {
		  cursor: pointer;
		  -webkit-transition: all .1s;
		  -moz-transition: all .1s;
		  -ms-transition: all .1s;
		  -o-transition: all .1s;
		  transition: all .1s;
		  color: @black;

		  a {
		  	color: @black !important;
		  }

		  &:hover {
			color: @main !important;
		  }

		  &:last-child {
		  	padding-right:0;

		  	@media @phone {
		  		& {
		  			display: none;
		  		}
		  	}
		  }

		  a {
		  	color: @black;
		  }
		}

		ul li.dropdown:hover {
			background: @main;
			color: @white;
		}

		ul li ul {
		  padding: 0;
		  position: absolute;
		  top: 32px;
		  right: 0;
		  width: 200px;
		  -webkit-box-shadow: none;
		  -moz-box-shadow: none;
		  box-shadow: none;
		  display: none;
		  opacity: 0;
		  visibility: hidden;
		  -webkit-transiton: opacity .1s;
		  -moz-transition: opacity .1s;
		  -ms-transition: opacity .1s;
		  -o-transition: opacity .1s;
		  -transition: opacity .1s;
		}

		ul li ul li { 
		  background: @main; 
		  display: block; 
		  color: #fff;
		  padding: 10px 15px;
		  z-index: 999;

		  a{color: @white !important;}
		}

		ul li ul li:hover { background: @main-dark; a{color: @white !important;} }
		
		ul li:hover ul {
		  display: block;
		  opacity: 1;
		  visibility: visible;
		}

		ul {
			display: block;
			float: right;


			li {
				display: inline-block;
				margin-left: 5px;
				padding: 5px 10px;
				position: relative;	

				font-size: 90%;


				i {
					margin-left: 5px;
				}

				&.search {
					i {
						z-index: 9999;
						position: absolute;
						top:-12px;
						right: 40px;
					}
				}

				input {
					position: absolute;
					right: 0;
					top:-25px;
					z-index: 9;
					width: 60px;
					padding: 20px 12px;
					font-size: 15px;
					border: 0;
					.transition(.2s);
					background: #f5f5f5;



					&:focus {
						width: 190px;
					}
				}
			}
		}
	}

	.top-menu {
		position: absolute;
		top: 25px;
		right: 20px;

		color: @main-dark;

		ul {
			display: block;
			float: right;

			li {
				display: inline-block;
				margin-left: 25px;

				font-size: 90%;

				i {
					margin-left: 5px;
				}
			}
		}
	}

}

@media @phone {
	header nav ul li.menu-item-has-children:hover a {
	color: @black !important;
}
	.top-menu {
		visibility: hidden;
	}

	header {

		padding: 13px 0 3px 0;

		h1.logo {
			width: 100px;
		}
		
		nav {
			width: 100%;

			ul {
				width:100%;

				li {
					width:100%;
					padding: 20px 0;
					border-bottom: 1px solid #999;					

					&:hover, &.dropdown:hover {
						background: #f5f5f5 !important;
						color: black !important;
						border-bottom: 1px solid @black;
						a {
							color: @black !important;
						}
					}

					ul {
		  				width: 100%;
		  				margin-left: 5px;
		  				z-index: 9999;
		  				margin-top: 15px;
		  				position: static;
		  				width: 100%;
						opacity: 1;
		  				visibility: visible;
		  				display: block;
		  				background: #f5f5f5;

						li {
							display: block;
							color: @black !important;
							margin: 0;
							width: 50%;
							float: left;
							border: none;
							background: #f5f5f5;
							border-bottom: 1px solid #f5f5f5;

							&:hover {
								background: #f5f5f5;
							}
						}
					}
				}
			}
		}
	}
}

/* --------------------------------------------------------------
			4.2 NAVIGATION
-------------------------------------------------------------- */

nav[role=navigation] {}